---
import Menu from "../components/Menu.astro";
import "../css/style.scss";

import { getContacts } from "../data/strapi";

const contacts = await getContacts();
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
  </head>
  <body>
    <main style="justify-content: flex-start;">
      <Menu />

      <div class="container">
        <div class="row">
          <div class="left" style="font-size: .8rem;" >
            <div style="visibility: hidden;">
              <span>ntn/00</span>
              <span>0000</span>
            </div>

            <div style="display:flex; flex-direction: column;pointer-events: all; gap: .25rem;color:white" >
              {
                contacts.single.map((item: { label: unknown; link: string | URL | null | undefined; content: unknown; }) => (
                  <div style="pointer-events: all">
                    <span  style="width: 100px;">{item.label}:</span> {item.link ? <a href={item.link}>{item.content}</a> : <span>{item.content}</span>}<br />
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>

<style lang="scss">
  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  @media (max-width: 720px) {
    .left {
      width: 100% !important;
    }
  }
</style>
