---
import Menu from "../components/Menu.astro";
import "../css/style.scss";
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
  </head>
  <body>
    <main style="justify-content: flex-start;">
      <Menu />

      <div class="container">
        <div class="row">
          <div class="left" style="font-size: .8rem;">
            <div style="visibility: hidden;">
              <span>ntn/00</span>
              <span>0000</span>
            </div>

            <div style="display:flex; flex-direction: column;">
              WRITE AT: INFO@NTNINDEX.COM   <br>
              CALL AT: (+39) 3280823488     <br>
              COME IN: MILAN, ITALY         <br>
              FOLLOW : @NTN.INDEX           <br>
            </div>
          </div>
          
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  @media (max-width: 720px) {
    .left {
      width: 100% !important;
    }
  }
</style>
