---
import Menu from "../components/Menu.astro";
import "../css/style.scss";

import { getInformations } from "../data/strapi";

const about = await getInformations();
---
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
  </head>
  <body>


<main style="justify-content: flex-start;">
  <Menu />

  <div class="container">
    <div class="row">
      <div class="left" style="font-size: .8rem;">
        <div style="visibility: hidden;">
          <span>ntn/00</span>
          <span>0000</span>
        </div>
        
        <div style="display:flex; flex-direction: column;color:white">
          {about?.main_text}
          <div style="font-size: .6rem;">
            {about?.pedix_text}
          </div>
        </div>
    
      </div>
      <div class="right">
        <img src={about?.main_image?.url} style="max-width: 300px;" alt="">
      </div>
    </div>
    
  </div>
</main>
  </body>
</html>


<style>
  @media (max-width: 720px) {
    .row {
      flex-direction: column-reverse;
    }
  }
</style>