---
import Menu from "../components/Menu.astro";
import "../css/style.scss";

import { getInformations } from "../data/strapi";

const about = await getInformations();
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <script>
      (function () {
        try {
          const saved = localStorage.getItem("theme");
          if (saved === "night") {
            document.documentElement.dataset.theme = "night";
          } else {
            document.documentElement.dataset.theme = "day";
          }
        } catch (e) {}
      })();
    </script>
  </head>
  <body>
    <main style="justify-content: flex-start;">
      <Menu />

      <div class="container">
        <div class="row">
          <div class="left" style="font-size: .8rem;">
            <div style="visibility: hidden;">
              <span>ntn/00</span>
              <span>0000</span>
            </div>

            <div style="display:flex; flex-direction: column;">
              <p>
                {about?.main_text}
              </p>
              <p style="font-size: .6rem;">
                {about?.pedix_text}
              </p>
            </div>
          </div>
          <div class="right">
            <img
              src={about?.about_image?.url}
              style="max-width: 300px;"
              alt=""
            />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  @media (max-width: 720px) {
    .row {
      flex-direction: column-reverse;
    }
  }
</style>

<script>
  const saved = localStorage.getItem("theme");
  if (saved === "night") {
    document.querySelector("main")?.classList.add("night");
  }
</script>
