---
---

<div class="menu">
    <a href="/">
        <img src="../ntn_logo.svg" alt="" />
    </a>
    <a href="/">index</a>
    <a href="/practice/">practice</a>
    <a href="/contacts/">contacts</a>
    <a target="_blank" href="https://ntnindex.bigcartel.com">objects</a>
</div>

<style lang="scss">
.menu {

  img {
    width: 122px;
    margin-right: calc(4vw - 1rem);
  }

}
</style>