---
---

<div class="menu">
    <a href="/">
        <img src="../ntn_logo_white.svg" alt="" />
    </a>
    <a href="/">index</a>
    <a href="/practice/">practice</a>
    <a href="/contacts/">contacts</a>
    <a target="_blank" href="https://ntnindex.bigcartel.com">objects</a>
</div>

<style lang="scss">
.menu {
  z-index: 1000;
  mix-blend-mode: difference;
  position: fixed;
  
  img {
    width: 103px;
    margin-right: calc(2.5vw - 1rem);
  }

}
</style>

<script is:inline>
  window.addEventListener("load", () => {
    const w = document.querySelector('.left div').offsetWidth
    const i = document.querySelector('.menu img').style.width = w + "px"
    console.log('width ', w);
  });
</script>