:root {
  --orange: rgb(255, 102, 0);
  --bg-color: white;
  --text-color: black;
}


[data-theme="night"] {
  --orange: rgb(255, 102, 0);
  --bg-color: black;
  --text-color: white;

  .lightbox-arrow img, .lightbox-close img, .lightbox-plus img {
    filter: invert(1);
  }

  .container .row.open .left p {
    color: var(--text-color) !important;
  }
}

@font-face {
    font-family: pp-supply;
    src: url('/PP Supply/PPSupplyMono-Regular.otf') format("opentype");
  }

  body {
    font-family: pp-supply;
  }

  .menu {
    font-size: 0.8rem;
    text-transform: uppercase;
    display: flex;
    padding-top: 0.5rem;
    align-items: center;
    gap: 1rem;
    max-width: 960px;
    width: calc(100% - 20px);
    padding: 10px;
    // left: 0;
    justify-content: space-between;

    a, span {
      color: white;
      text-decoration: none;
      cursor: pointer;

      #theme-toggle {
        mix-blend-mode: difference;
      }

      &:hover:not(#theme-toggle) {
        text-decoration: underline;
      }
    }
  }

  .lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .lightbox-content {
    text-align: center;
    position: relative;
    max-width: 100%;
    padding: .5rem;
    height: 78vh;
    max-height: 78vh;
    // aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  .lightbox-content img {
    max-width: 100%;
    max-height: 100%;
    user-select: none;
  }

  .lightbox-close {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    color: var(--text-color);
    pointer-events: all;
    z-index: 100;
  }
  .lightbox-plus {
    position: absolute;
    top: 48px;
    right: 0px;
    background: none;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    color: var(--text-color);
    pointer-events: all;
    z-index: 100;
  }

  .info {
    position: fixed;
    width: 25vw;
    right: 20px;
    top: 96px;
    font-size: 0.8rem;
    color: var(--bg-color);
    mix-blend-mode: exclusion;
    display: none;
    z-index: 10;

    &.show {
      display: flex;
      align-items: flex-end;
    }
  }

  .lightbox-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0px;
    z-index: 100;
    background-color: transparent;
    pointer-events: all;

    img {
      width: 90%;
    }
  }

  .lightbox-arrow.prev {
    left: 5px;
  }

  .lightbox-arrow.next {
    right: 5px;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
  }

  body {
    margin: 0;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 20vh;
    min-height: 100vh;
    align-items: center;
    background-color: var(--bg-color);
  }
  .container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 960px;
    padding-bottom: 0;
    align-items: center;
    width: calc(100% - 20px);
    margin-top: 25vh;
    padding: 10px;

    .labels {
      display: flex;
      gap: 5vw;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      align-items: flex-end;
      user-select: none;

      div {
        width: 5px;
        user-select: none;

        p {
          writing-mode: sideways-lr;
          text-orientation: mixed;
          line-height: 1;
          position: relative;
          left: -12px;
          transform-origin: bottom right;
          transform: rotate(45deg);
          text-transform: uppercase;
          cursor: pointer;
          color: var(--text-color);
          user-select: none;

          &:hover {
            color: var(--orange) !important;
          }
        }
      }
    }

    .cat-active {
      color: var(--orange) !important;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      position: relative;
      padding: 0.25rem 0;

      &.off {
        pointer-events: none;

        p {
          color: var(--text-color) !important;
          opacity: .25;
        }
      }

       &.off-cat {
        pointer-events: none;

        p {
          color: var(--text-color) !important;
          opacity: .25;
        }

        .right div.active {
          background-color: rgba(0,0,0,.25) !important;
        }
      }

      &.hided {
        pointer-events: none;

        p {
          color: var(--text-color) !important;
          opacity: .25;
          z-index: 0;
        }

        .field.active {
          background-color: rgba(0,0,0,0.25) !important;
        }

        .img {
          display: none !important;
        }

        &:hover {
          p {
            color: var(--text-color) !important;
          }
        }
      }

      &.clickable:hover:not(.open) {
        
        p {
          color: var(--orange) !important;
        }

      }

      &.open {
        pointer-events: none;
        opacity: 1;
        // overflow: hidden;

        .left {
          pointer-events: none;
          z-index: 10;
          mix-blend-mode: difference;

          p {
            color: var(--bg-color) !important;
          }
        }
      }

      &:hover:not(.open) {

        .img {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          max-width: 300px;
          pointer-events: none;
          z-index: 100;
        }

        .field.active {
            background-color: var(--orange) !important;
          }
      }

      .img {
        display: none;
      }

      .left {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        gap: 2.5vw;
        width: 50vw;
        z-index: 0;
        

        div {
          display: flex;
          flex-direction: row;
          gap: 2.5vw;
          pointer-events: none;
        }

        p {
          cursor: pointer;
          color: var(--text-color) !important;
        }
      }

      .right {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: row;
        gap: 5vw;
        // mix-blend-mode: difference;
        // pointer-events: none;

        .field {
          width: 5px;
          height: 5px;
          background-color: var(--bg-color);
          margin: 0;
          border-radius: 100%;

          &.active {
            background-color: var(--text-color);
          }
        }
      }
    }

    #row-0 {
      .right {
        .field {
          position: relative;
          

          // &::before {
          //   writing-mode: sideways-lr;
          //   text-orientation: mixed;
          //   line-height: 1;
          //   transform: rotate(45deg);
          //   text-transform: uppercase;
          //   margin: 0;
          //   font-family: monospace;
          //   font-size: 0.8rem;
          //   position: absolute;
          //   bottom: 1rem;
          //   left: 0.75rem;
          //   pointer-events: none;
          //   height: 70px;
          // }

          // &:nth-child(1)::before {
          //   content: "interior";
          // }

          // &:nth-child(2)::before {
          //   content: "exhibitions";
          // }

          // &:nth-child(3)::before {
          //   content: "objects";
          // }

          // &:nth-child(4)::before {
          //   content: "graphic";
          // }

          // &:nth-child(5)::before {
          //   content: "research";
          // }

          // &:nth-child(6)::before {
          //   content: "urbanism";
          // }
        }
      }
    }
  }

  @media (max-width: 720px) {

    main {
      // padding: .5rem;
      gap: 10rem;
    }

    .menu {
      justify-content: space-between;

      .submenu {
        width: 100%;
        gap: .75rem !important;

        a:first-child {
          flex: 1;
          max-width: 128px !important;

          img {
            width: 100% !important;
          }
        }
      }

      img {
        width: 45px !important;
      }
    }

    .left {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      gap: 2vw;
      width: 70vw !important;
      z-index: 100;



      div {
        display: flex;
        flex-direction: column !important;
        gap: 0.25vw !important;
        pointer-events: none;
      }

      p {
        cursor: pointer;
        color: var(--text-color);
      }
    }
    
    .hide-mobile {
      display: none;
    }

    .row {
      .img {
        display: none !important
      }
    }

    .lightbox-arrow {
      mix-blend-mode: difference;

      img {
        filter: invert(1);
        max-height: 80vh;
      }
    }

    .container {
      margin-left: .5rem;
      margin-right: 0.5rem;
      width: calc(100% - 1rem);

      max-height: calc(80vh - 20px);
      margin-top: 20vh;

      .content {
        height: -webkit-fill-available;
        overflow: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */

        &::-webkit-scrollbar { 
          display: none;  /* Older Safari and Chromium */
        }
      }
      
      .row {
        gap: 0.5rem;

        &.hided {
          opacity: 0;
        }

        &.open {
          .left {
            opacity: 0;
          }
        }
      }
    }

    .row.categories {
      padding-bottom: 2rem;

      .right {
        .labels {
          p {
            writing-mode: horizontal-tb !important;
            height: auto !important;
            transform: translateX(-50%) rotate(-90deg) !important;
            left: 3px !important;
            width: 0px !important;
            transform-origin: unset;
            color: var(--text-color);
          }
        }
      }
    }
    .labels div p {
      color: var(--bg-color);
      transform: rotate(90deg);
    }

    .info {
      position: fixed;
      width: calc(100vw - 1rem);
      right: .5rem;
      bottom: 96px;
      font-size: 0.8rem;
      color: var(--bg-color);
      mix-blend-mode: exclusion;
      display: none;
      z-index: 10;
    }
  }
